h2 {
    font-weight: bolder;
}
body {
    background-image: url(./images/portfolio.bg.png);
}
.first {
    text-align: center;
    padding: 25px;
    color: white;
    height: 150px;
    font-weight: bold;
  }
.section1{
    background-image: url(./images/portfolio.bg.png) no-repeat;
    padding: 50;
    margin: 0;
    position: relative;
    text-align: center;
}
.text {
    color: black;
    font-size: larger;
}
.card{
    text-align: left;
    background: transparent;
    color: black;
    font-weight: bolder;
    font-size: 1ch;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
      background-color: black;
      color: white;
    }
  }
@media screen and (min-width: 768px) {
    body {
      background-color: yellow-green;
    }
    .column {
      width: 220px;
      float: left;
      padding: 15px;
    }
  }
